[submodule "Second Year/PO-Project"]
	path = Second Year/PO-Project
	url = https://github.com/JeronimoMendes/PO-IST-Project
[submodule "First Year/IAED/Second"]
	path = First Year/IAED/Second
	url = https://github.com/JeronimoMendes/Projeto-2-IAED
[submodule "First Year/LP"]
	path = First Year/LP
	url = https://github.com/JeronimoMendes/Projeto-LP
[submodule "Second Year/SO/First Project"]
	path = Second Year/SO/First Project
	url = https://github.com/ist199086-99338/SO-Project-1
[submodule "Second Year/ASA/First Project"]
	path = Second Year/ASA/First Project
	url = https://github.com/ist199086-99338/ASA-Project-1
